{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- google analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-12637058-8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-12637058-8');
    </script>

    <title>
        {% block title %}{% endblock %}
    </title>

    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    
    {% block noindex %}{% endblock %}

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/talkingscores.css' %}" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Talking Scores Beta</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/change-log">Change Log</a></li>
                <li><a href="/contact-us">Contact Us</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="talking-scores">
        {% block content %}{% endblock content %}
    </div>
</div>

<br/><br/>

<footer class="navbar-inverse">
    <div class="container">
        
        <div class="row bottom-rule">
            <div class="text-center py-3"><a style="color:white;" href="/privacy-policy">Privacy Policy</a> </div>
        </div>
    </div>
</footer>


{#  <main>#}
{#    <h1>Talking Scores Demo</h1>#}
{#    <h2></h2>#}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap-3.3.2-dist/js/bootstrap.min.js' %}"></script>

<script>
$(document).ready(function() {
    $('li.active').removeClass('active');
    $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
  });
</script>

{#      </main>#}
</body>
</html>