{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}Change Log - Talking Scores (Beta){% endblock %}
{% block meta-description %}Overview of updates to Talking Scores - an open source project to convert MusicXML files to a spoken representation.{% endblock %}

{% block content %}
    <h1>Talking Scores Beta</h1>

    <div class="col-md-8 col-md-offset-2 text-left">

        <h2>Change Log</h2>

        <p class="lead">This page details various updates made to this project.  The dates represent the approximate date when particular changes were committed in Git.  The actual date that the changes became live on this site will most likely be different.  Progress is gradually being made - so please do retry files that may not have worked before.</p>

        <p class="lead">For more information about specific changes - see the history on <a href="https://github.com/bentimms/talkingscores" target="_blank">Github</a>.</p>

        <p class="lead"><b>Current State</b><br/>
            This project currently may produce an acceptable output for fairly simple piano music - ie one instrument with 2 staves (treble and bass clef).
            <ul>
                <li class="lead">Anything other than a single treble stave and a single bass clef stave causes odd results.  In MuseScore - that is a single instrument with two staves.</li>
            </ul>
        </p>

        <p class="lead"><b>27th June 2021</b><br/>
            Initial release of analysing the score to identify bars (or groups of bars) that have the same pitch and rhythm, or just the same rhythm, or just the same intervals - in order to provide output such as 'Bars 1 to 4 are used almost all of the way through'.<br/> <br/>
            Also attempts to provide a summary of what might be noticeable when glancing at the music; and its distribution throughtout the score - eg 'lots of chords (some Perfect Fifth, almost all minims, mostly 2 notes)' or 'many accidentals (near the end)'. <br/><br/>
            The lists of repeating bars / groups are not very easy to read at present (especially as they are shown the Score Options page as opposed to the actual Talking Score output page) - so in a later update, they will probably be moved into the main description as eg 'first used at bar 5; most recently used at bar 9'. <br/>
        </p>

        <p class="lead"><b>28th December 2020</b><br/>
            Upgraded Music21 from 5.5.0 to 6.3.0.  One of the benefits is increased performance when creating MIDI files.</p>

        <p class="lead"><b>1st December 2020</b><br/>
            Grace notes are described - but maybe not played correctly.<br/>
            Note ornaments / expressions are described - just using Music21 names so may need to elaborate the description. </p>
        
        <p class="lead"><b>2nd September 2020</b><br/>
            Rests are now described.<br/>
            Semibreves are no longer described as &quot;Unkown duration&quot;. </p>
        
        <p class="lead"><b>31st August 2020</b><br/>
            If the score has a pickup bar / anacrusis - it is included in the output.</p>
        
        <p class="lead"><b>30th August 2020</b><br/>
            The developers are now notified if an error occurs and the user requests to be notified by email when this is fixed.</p>
        
        <p class="lead"><b>25th May 2020</b><br/>
            If there are no tempo changes at the start of a segment - MIDI files now include the last tempo chnage before the segment.  <br/>
            For example, if there is a tempo mark of 80 bpm in bar 5 and no other tempo changes in the score.  If you play bars 8 to 11, the MIDI file will include the tempo change from bar 5 at the start; so that bars 8 to 11 will play at the correct speed.</p>

        <p class="lead"><b>26th April 2020</b><br/>
            Added Change Log, Contact Us and Privacy Policy pages with basic title and description for SEO purposes.</p>

        <p class="lead"><b>22nd April 2020</b><br/>
            Fixed error when long name for Dynamics is not known.</p>

        <p class="lead"><b>19th April 2020</b><br/>
            Tempos are inserted in midi files for the 2nd stave.  <b>To-do:</b> - insert current tempo at the start of segments.</p>
    
        <p class="lead"><b>13th April 2020</b><br/>
            Added Google Analytics.  Configured robots.txt and noindex so that completed scores are not indexed or tracked.</p>
    
        <p class="lead"><b>5th April 2020</b><br/>
            Fixed CORS error so that midi files are played - ie we can listen to the score - or sections of it.</p>

        <p class="lead"><b>19th January 2020</b><br/>
            Use 'bars at a time' from Options screen.</p>
    
        <p class="lead"><b>28th July 2019</b><br/>
            Fixed 'unknown duration' for notes smaller than quavers.</p>

        <p class="lead"><b>27th July 2019</b><br/>
            Fixed key signature in preamble.</p>

        <p class="lead"><b>21st July 2019</b><br/>
            Fixed pitch ordering within beats and chords.</p>
    
    </div>

{% endblock content %}