{% extends "base_site.html" %}
{% load static %}

{% block title %}Processing Score - Talking Scores (Beta){% endblock %}
{% block noindex %}<meta name="robots" content="noindex" />{% endblock %}

{% block content %}
    <h1>Talking Scores Beta</h1>

    <div class="col-md-11 mx-auto text-start">

        <h4>Processing score... this may take a minute or two while all the files are generated. Please
            be patient and don't close or refresh this page.</h4>

        <div class="text-center" style="margin-top: 50px" aria-hidden="true">
        <img class="loading" src="{% static 'img/loading.png' %}"/>
        </div>

    </div>

    <script>
        setTimeout(function () {
             window.location = "{% url 'score' id filename %}";
        }, 3000);
    </script>
    </div>
{% endblock content %}