body {
  padding-top: 50px;
}
.talking-scores {
  padding: 40px 15px;
  text-align: center;
}

.bold-heading {
	font-size: 21px;
	font-weight: bold;
}

.navbar-nav li:hover {
	background-color: blue !important;
}

.tsactive {
	color:black !important;
	background-color:yellow !important;
	border-bottom:3px solid red !important;
}

.tsactive:hover {
	color:white !important;
	background-color:yellow !important;
	border-bottom:3px solid red !important;
}

.tsactive a {
	color:black !important;
}

.tsactive a:hover {
	color:white !important;
}

.tsp {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 26px;
	line-height: 1.4; 
}

.bold {
	font-weight: bold;
}

.loading {
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% {
	-moz-transform:rotate(360deg);
	}
}
@-webkit-keyframes spin { 100% {
	-webkit-transform:rotate(360deg);
	}
}
@keyframes spin { 100% {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	}
}
